*{
    padding:0;
    margin:0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

body{
    font-size: 15px;   
     font-family: 'Alata',
    sans-serif;
}

input,textarea,button{
    font-family: 'Alata',
    sans-serif;
}

h1,h2,h3,h4,h5,h6,a{
font-family: 'Josefin Sans',
sans-serif;
font-weight: 300;
}

li{
    list-style: none;
}

:root{
    --padding:0 27px;    
}

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$DarkGray: hsl(0, 0%, 55%);
$VeryDarkGray: hsl(0, 0%, 41%);

.header{
    padding:0.1px;
    &-bg{
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0,0.4) 35%),
        url(../img/mobile/image-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height:750px;
        position:relative;
     }

    &-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:var(--padding);
        margin-top:50px;

        &__img{
            display:block;
            width:100%;
        }

        &__btn{
            display:flex;
            flex-direction: column;
            gap:5px;
            background-color: transparent;
            border:none;
            cursor : pointer;  

            &-bar{
                background-color: #fff;
                display:block;
                width:26px;
                height:3px;
                transition:all 0.5s ease;
            }
        }

        &__nav{
            position:fixed;
            top:0;
            left:-900px;
            background-color: #000;
            width: 100%;
            height:100%;
            transition: all 0.9s ease;

            &.active{
                left:0;
            }
        }

        &__menu{
            margin-top: 100px;
            padding-left: 40px;
            display:flex;
            flex-direction: column;
            gap:25px;
        }        

        &__link{
            text-transform: uppercase;
            text-decoration: none;
            color:$VeryDarkGray;
            font-size: 32px;
            position:relative;
            transition: all 0.5s ease;

            &:hover{
                color:$White;
            }

            &::before{
                content:'';
                position:absolute;
                bottom:0;
                right:50%;
                width:0%;
                height:2px;
                background-color: #fff;
                transition: all 0.5s ease;
            }

            &:hover::before{
                width:50%;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0%;
                height: 2px;
                background-color: #fff;
                transition: all 0.5s ease;
            }
            
            &:hover::after {
                width: 50%;
            }
        }

        /* MEDIA QUERIE 768px Will Dissapear */
        &__navTop{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:var(--padding);
            margin-top:50px;
        }

        &__navTop-img{
            display:block;
            width:100%;
        }

        &__navTop-btn {
            display: flex;
            flex-direction: column;
            gap: 5px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        
            &-bar {
                background-color: #fff;
                display: block;
                width: 26px;
                height: 3px;
                transition: all 0.5s ease;
        
                &:nth-child(1) {
                    transform: rotate(45deg);
                    transform-origin: 10% 90%;
                }
        
                &:nth-child(2) {
                    opacity: 0;
                }
        
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    transform-origin: 10% 10%;
                }
            }
        }
       
    }

    &-home{
        margin-top: 200px;
        padding:var(--padding);
        &__description{
            border:1px solid #fff;
            padding:23px 25px;
            &--firstheading{
                text-transform: uppercase;
                color: #fff;
                font-size: 9vw;
            }
        }
    }

    @media screen and (min-width:768px){
        &-bg {
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 35%),
                url(../img/desktop/image-hero.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width:100%;
            background-position: center;
            height: 750px;
            position: relative;
        }

        &-top{
            &__btn{
                display:none;
            }

            &__navTop {
                display: none;
            }

            &__nav{
                position:relative;
                left:0;
                background-color: transparent;
                width:auto;
                height:auto;
            }

            &__menu{
                margin-top: 0;
                padding-left: 0;
                flex-direction: row;
            }

            &__link{
                font-size: 15px;
                color:$White;
                text-transform: capitalize;

                &::before{
                    bottom:-5px;
                }

                &::after{
                    bottom:-5px;
                }
            }
        }
       
        &-home{
            margin-top: 175px;
            width:500px;
            &__description{
                &--firstheading {
                    font-size: 52px;
                }

                &--firstheading br:nth-child(2){
                    display: none;
                }
            }
        }
    }

    @media screen and (min-width:992px){
        &-top{
            max-width:1100px;
            width:100%;
            margin:0 auto;
            margin-top:50px;
        }        
        
        &-home{
            max-width:1100px;
            width:100%;
            margin:0 auto ;
            margin-top: 175px;

            &__description{
                width:500px;
                padding-left: 0;
            }
        }
    }
}

.main{
    padding:var(--padding);
}

.vr{
    
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: "picture"
    "article";

    &-picture{
        margin-top: 70px;
        grid-area:picture;
    }

    &-article{
        grid-area:article;

        &__secondheading{
            text-transform: uppercase;
            text-align: center;
            font-size: 26px;   
            margin-top: 30px;
            margin-bottom: 20px; 
        }

        &__paragraph{
            text-align: center;
            font-size: 16px;
            line-height: 25px;
            color:$VeryDarkGray;
        }
    }      
    
    @media screen and (min-width:768px){
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "picture picture article";
        margin-top: 70px;
        position:relative;

        &-picture {            
            grid-area: picture;
            margin-top: 0;
        }

        &-article{
            grid-area:article;
            position:absolute;
            bottom:0;
            right:0px;
            background-color: $White;
            width:380px;
            padding:20px 0 0 40px;

            &__secondheading{
                text-align: left;
            }

            &__paragraph{
                font-size: 14px;
                text-align: left;
            }
        }
    }

    @media screen and (min-width:992px){
        max-width:1200px;
        width:100%;
        margin:0 auto;
        margin-top: 115px;
        &-article {
            width:500px;
        }
    }

    @media screen and (min-width:1200px) {     
        &-article {
            width: 560px;
        }
    }
}

.our-creations{
    margin-top: 100px;
    margin-bottom: 100px;
    position:relative;
    border:1px solid transparent;
    &__header{
        margin-bottom: 50px;
        &--secondheading{
            font-size: 32px;
            text-transform: uppercase;
            text-align: center;
        }

        &--btn{
            position: absolute;
            bottom:0;
            left:50%;
            right:50%;
            transform: translate(-50%,0%);
            background-color: $White;
            color:$Black;
            border:1px solid $Black;
            text-transform: uppercase;
            width:167px;
            height:45px;
            letter-spacing: 2px;
            font-size: 14px;
            transition:all 0.5s ease;

            &:hover,
            &:focus{
                background-color: $Black;
                color:$White;
            }
        }
    }
    &__body{
        margin-bottom: 80px;
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "imgOne"
                            "imgTwo"
                            "imgThree"
                            "imgFour"
                            "imgFive"
                            "imgSix"
                            "imgSeven"
                            "imgEight";
                            gap:25px;

        &--picture{
            position:relative;           

            &::before{
                content: '';
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background-color: rgba(0, 0, 0, 0.205);
            }
            
            &:hover .our-creations__body--description{
                background-color: rgba(255, 255, 255, 0.63);
                color:#000;
            }

            &:nth-child(1){
                grid-area:imgOne;
            }
            &:nth-child(2) {
                grid-area: imgTwo;
            }
            &:nth-child(3) {
                grid-area:imgThree;
            }
            &:nth-child(4) {
                grid-area:imgFour;
            }
            &:nth-child(5) {
                grid-area:imgFive ;
            }
            &:nth-child(6) {
                grid-area:imgSix;
            }
            &:nth-child(7) {
                grid-area: imgSeven;
            }
            &:nth-child(8) {
                grid-area:imgEight ;
            }
        }

        &--img{
            display:block;
            width:100%;
        }

        &--description{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            display:flex;
            flex-direction: column;
            justify-content: flex-end;
            padding:10px 20px;
            color:#fff;
            transition: all 0.5s ease;
        }

        &--middleheading{
            text-transform: uppercase;
        }
    }

    @media screen and (min-width:768px){
        &__header{
            display:flex;
            justify-content: space-between;
            margin-bottom: 80px;

            &--btn{
                position:relative;
                left:0;
                right:0;
                transform: translate(0,0);
            }
        }
        &__body {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "imgOne imgTwo"
                "imgThree imgFour"                
                "imgFive imgSix"
                "imgSeven imgEight";
        
            &--picture {                
                       
                &:nth-child(1) {
                    grid-area: imgOne;
                }
        
                &:nth-child(2) {
                    grid-area: imgTwo;
                }
        
                &:nth-child(3) {
                    grid-area: imgThree;
                }
        
                &:nth-child(4) {
                    grid-area: imgFour;
                }
        
                &:nth-child(5) {
                    grid-area: imgFive;
                }
        
                &:nth-child(6) {
                    grid-area: imgSix;
                }
        
                &:nth-child(7) {
                    grid-area: imgSeven;
                }
        
                &:nth-child(8) {
                    grid-area: imgEight;
                }
            }    
            
            &--middleheading {
                font-size: 25px;
            }
        }
    }

    @media screen and (min-width:992px) {
        max-width:1200px;
        width:100%;
        margin:0 auto;
        margin-top: 130px;
        margin-bottom: 80px;
        
        &__body {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: "imgOne imgTwo imgThree imgFour"       
                "imgFive imgSix imgSeven imgEight";
    
            &--picture {
    
                &:nth-child(1) {
                    grid-area: imgOne;
                }
    
                &:nth-child(2) {
                    grid-area: imgTwo;
                }
    
                &:nth-child(3) {
                    grid-area: imgThree;
                }
    
                &:nth-child(4) {
                    grid-area: imgFour;
                }
    
                &:nth-child(5) {
                    grid-area: imgFive;
                }
    
                &:nth-child(6) {
                    grid-area: imgSix;
                }
    
                &:nth-child(7) {
                    grid-area: imgSeven;
                }
    
                &:nth-child(8) {
                    grid-area: imgEight;
                }
            }
    
            &--middleheading {
                font-size: 25px;
            }
        }
    }
}

.footer{
    background-color: $Black;
    padding:var(--padding);
    padding-top: 60px;
    padding-bottom: 60px;

    &-article{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:20px;
        margin-bottom: 50px;

        &__menu{
            display:flex;
            flex-direction: column;
            align-items: center;
            gap:20px;
        }

        &__list{
            position:relative;
                      
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                right: 50%;
                width: 0;
                height: 2px;
                background-color: $White;
                transition: all 0.5s ease;
            }
            
            &:hover::before,
            &:focus::before {
                width: 50%;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 2px;
                background-color: $White;
                transition: all 0.5s ease;
            }
            
            &:hover::after,
            &:focus::after {
                width: 50%;
            }

            &:hover .footer-article__link,
            &:focus .footer-article__link{
                color:$White
            }
        }

        &__link{
            color:$VeryDarkGray;
            text-decoration: none;
            text-align: center;
            text-transform: capitalize;
            font-size: 16px;                       
            transition: all 0.5s ease;
        }
    }

    &-aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;

        &__box{
            display:flex;
            justify-content: space-between;
            gap:30px;
        }

        &__link {
            &:hover i{
                color:$White;
            }
            
            & i{
                transition: all 0.5s ease;
                font-size: 30px;
                color:$VeryDarkGray
            }
        }

        &__description{
            text-align: center;
        }

        &__copyright{
            color:$DarkGray;
            margin-bottom: 10px;
        }

        &__credits{
        color:$DarkGray;
            & a{
                color:$DarkGray;
                text-decoration: none;
                font-family: 'Alata',
                sans-serif;
                transition: all 0.5s ease;

                &:hover,
                &:focus{
                    color:$White;
                }
            }
        }
    }

    @media screen and (min-width:768px){
        &__main{
            display:flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &-article{
            margin-bottom: 0;
            align-items: flex-start;
            gap:15px;

            &__menu{
                flex-direction: row;
                align-items: flex-start;
            }
        }

        &-aside{
            align-items: flex-end;

            &__description{
                text-align: right;
            }
        }
    }

    @media screen and (min-width:992px) {
        &__main{
            max-width:1200px;
            width:100%;
            margin:0 auto;
        }
    }
}